---
layout: default
---

<main>

  {% include search.html %}

{% include pagination.html %}

<section class="all-posts">
  {% for post in paginator.posts %}
  {% assign month = post.date | date: "%m" %}
  {% if month != activeMonth %}
  {% unless forloop.first %}
  </ul>
  {% endunless %}
  <p class="all-posts__month">{{ post.date | date: "%B %Y" }}</p>
  <ul class="post-list">
    {% assign activeMonth = month %}
    {% endif %}
    <li class="post-list__post"
        tabindex="0">
      <a class="post-list__post__link"
         href="{{ post.url | prepent: site.baseurl }}">
        <span class="post-list__post__date">
          {{ post.date | date: "%d" }}
        </span>
        {{ post.title }}
      </a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  </ul>
</section>

</main>

{% include pagination.html %}
