<header class="article__intro">
  <section class="article__intro__metadata">
    <p class="article__intro__metadata__category">{{ page.categories }}</p>
    <p class="article__intro__metadata__published">{{ page.date | date_to_long_string }}</p>
  </section>
  <h1 class="article__title">{{ page.title }}</h1>
  <p class="article__leading">{{ page.leading }}</p>
  <section class="article__author">
    <img class="article__author-img" src="/assets/images/me.jpg" alt="Author profile">
    <a class="article__author-name" href="https://twitter.com/Becca9941" target="_blank">{{ page.author }}</a>
  </section>
  <figure class="article__hero">
    <img class="article__hero-img"src="/assets/images/article-images/{{ page.featured_image }}" alt="hero image">
    <figcaption class="article__hero-caption">{{ page.hero_caption }}</figcaption>
  </figure>

</header>
