<footer class="footer">
  <a href="#" class="footer__twitter"><img class="footer__twitter-icon" src="/assets/images/twitter.svg" alt="Twitter" title="@Becca9941 on Twitter"></a>
  <a href="/privacy-policy.html" class="mdc-button mdc-button--raised privacy-policy-button">
    <div class="mdc-button__ripple"></div>
    <i class="material-icons mdc-button__icon" aria-hidden="true">policy</i>
    <span class="mdc-button__label">Privacy Policy</span>
  </a>
  <p class="footer__author">Website by <a class="footer__author__link" href="https://twitter.com/Becca9941" target="_blank" rel="noopener">Rebecca Williams</a></p>
  <p class="footer__copywrite">All content copyright 2020 - present, <br>The Essentialist Dev</p>
</footer>
