<nav class="nav-drawer">

  <header class="nav-drawer__header">
    <img class="nav-drawer__logo" src="/assets/images/fox-only-logo.svg" alt="Home">
    <h2 class="nav-drawer__header__title">The Essentialist Dev</h2>
    <p class="nav-drawer__header__tagline">Action Plans For Developers</p>
    <a href="https://twitter.com/Becca9941" target="_blank" class="follow-cta">
      <div class="mdc-button__ripple"></div>
      <i class="material-icons mdc-button__icon" aria-hidden="true">launch</i>
      <span class="follow-cta__label">Follow</span>
    </a>
  </header>
  <section class="nav-drawer__group-pages">

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/"><i class="category__icon material-icons" aria-label="Home">home</i> Home</a></li>
    </ul>

  </section>

  <section class="nav-drawer__group-pages">


    <p class="nav-drawer__group-pages__title">Action Plans</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/learning.html"><i class="category__icon material-icons" aria-label="Roadmaps">map</i> Always Learning</a></li>
      <li class="nav-list__page"><a href="/living.html"><i class="category__icon material-icons" aria-label="Wellbeing">wb_sunny</i> Live By Design</a></li>
      <li class="nav-list__page"><a href="/career.html"><i class="category__icon material-icons" aria-label="Career">business_center</i> Career Ownership</a></li>
      <li class="nav-list__page"><a href="/projects.html"><i class="category__icon material-icons" aria-label="Journal">extension</i> Project Plans</a></li>
      <li class="nav-list__page"><a href="all.html"><i class="category__icon material-icons" aria-label="Action Plans">launch</i> All Action Plans</a></li>
    </ul>

  </section>

  <section class="nav-drawer__group-pages">

    <p class="nav-drawer__group-pages__title">Notes</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="https://becca9941.github.io/" target="_blank"><i class="category__icon material-icons" aria-label="Live Dev Journal">emoji_objects</i> Live Dev Journal</a></li>
    </ul>

  </section>

  <section class="nav-drawer__group-pages">

    <p class="nav-drawer__group-pages__title">Contact</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/contact.html"><i class="category__icon material-icons" aria-label="Email">email</i> Email Me</a></li>
    </ul>

  </section>

  <section class="nav-drawer__group-pages">


    <p class="nav-drawer__group-pages__title">About</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/cv.html"><i class="category__icon material-icons" aria-label="Work">flight</i> CV</a></li>
    </ul>

    <section class="nav-drawer__group-pages">

      <ul class="nav-list">
        <li class="nav-list__page"><a href="privacy-policy.html"><i class="category__icon material-icons" aria-label="Action Plans">policy</i> Privacy Policy</a></li>
      </ul>

    </section>

  </section>

</nav>
