<nav class="navigation">
  <ul class="nav-banner">
    <li><a class="nav-banner__link" href="/about.html">About</a></li>
    <li><a class="nav-banner__link" href="/contact.html">Contact</a></li>
    <li><a class="nav-banner__link" href="/newsletter.html">Newsletter</a></li>
    <li><a class="nav-banner__link" href="https://twitter.com/Becca9941" target="_blank"><img class="nav-banner__link-twitter" src="/assets/images/twitter.svg"</a></li>
  </ul>
  <div class="navigation__wrapper">
    <section class="navigation__menu">
      <a href="/"><img class="nav-logo" src="/assets/images/fox-only-logo.svg" alt="Home"></a>
      <button class="navigation__menu__open material-icons" onclick=openMobileNav()>menu</button>
      <h1 class="navigation__menu__title"><a href="/">The Essentialist Dev</a></h1>
    </section>
    <section class="navigation__icons" role="toolbar">
      <ul class="site-page-links">
        <li><a class="site-page-links__link" href="/learning.html">Learning</a></li>
        <li><a class="site-page-links__link" href="/living.html">Living</a></li>
        <li><a class="site-page-links__link" href="/career.html">Career</a></li>
        <li><a class="site-page-links__link" href="/projects.html">Projects</a></li>
        <li><a class="site-page-links__link" href="/live-dev-journal.html">More</a></li>
      </ul>
      <button class="navigation__icons__icon material-icons" onclick="openSearch()" aria-label="Search">search</button>
      {% include search.html %}
    </section>
  </div>
  <article class="progress">
    <section class="bar"></section>
  </article>

</nav>
