.footer {
  color: white;
  text-align: center;
  padding: 3rem 0;
  background-color: #1d243a;
  clip-path: polygon(0% 15%, 15% 15%, 50% 0, 50% 0, 85% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-top: 2rem;
  &__twitter {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    &-icon {
      width: 2rem;
      &:hover { opacity: .8; }
    }
  }
  &__author {
    @extend .bw-typography--body2;
    margin: 2rem;
    &__link {
      color: color($bw-color-brand, 50);
      font-weight: 500;
      letter-spacing: .1rem;
    }
  }
  &__copyright {
    @extend .bw-typography--caption;
    opacity: .8;
  }
}
