<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the Material stylesheet -->
    <link rel="stylesheet" href="/dist/bundle.css">
    <!-- import Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% feed_meta %}
    {% seo %}

    <!-- Progress Bar -->
    <script type="text/javascript" src="/assets/js/progress-bar.js"></script>
  </head>
  <body class="mdc-typography">

    <nav>
      <img src="/assets/images/logo.svg" alt="Home">
      <h1>The Essentialist Dev</h1>

      <section>

        <h2>Action Plans</h2>

        <ul>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Roadmaps">map</i><a href="#"> Always Learning</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Wellbeing">wb_sunny</i> Live By Design</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Career">business_center</i> Career Ownership</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Journal">extension</i> Project Plans</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Action Plans">launch</i> All Action Plans</a></li>
        </ul>

      </section>

      <section>

        <h2>Notes</h2>

        <ul>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Live Dev Journal">emoji_objects</i> Live Dev Journal</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Books">book</i> Book Notes</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Event Notes">event_note</i> Event Notes</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Non-tech">emoji_food_beverage</i> Non-Tech</a></li>
        </ul>

      </section>

      <section>

        <h2>Contact</h2>

        <ul>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Email">email</i> Email Me</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Newsletter Form">markunread_mailbox</i> Newsletter</a></li>
        </ul>

      </section>

      <section>

        <h2>About</h2>

        <ul>
          <li><a href="#"><i class="category__icon material-icons" aria-label="About The Essentialist dev">info</i> Essentialist Dev</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="About Becca Williams">person_pin</i> Becca</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Work">flight</i> QA Chef (Work)</a></li>
          <li><a href="#"><i class="category__icon material-icons" aria-label="Action Plans">policy</i> Privacy Policy</a></li>
        </ul>

      </section>

    </nav>

    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}

    <!-- import the Material javascript file -->
    <script src="/dist/bundle.js" async></script>
  </body>
</html>
