<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the Material stylesheet -->
    <link rel="stylesheet" href="/dist/bundle.css">
    <!-- import Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% feed_meta %}
    {% seo %}

    <!-- Progress Bar -->
    <script type="text/javascript" src="/assets/js/progress-bar.js"></script>
    <script type="text/javascript" src="/assets/js/openMobileNav.js"></script>
  </head>
  <body class="mdc-typography">

    <div class="site">

      <div class="mobile-nav" id="mobile-nav">
        {% include navigation-drawer.html %}
      </div>

      <div class="main-content" id="main-content">
        {% include navigation.html %}

        {{ content }}

        {% include footer.html %}
      </div>

    </div>

    <!-- import the Material javascript file -->
    <script src="/dist/bundle.js" async></script>
  </body>
</html>
