---
layout: default
comments: true
---

<main>
    {% include article-header.html %}
  <article class="article">
    {{ content }}
  </article>

    <!--article class="popular-posts">
      <h1 class="popular-posts__title">Related Posts</h1>

  {% for post in site.posts limit:4 %}
  {% if post.category contains page.category %}
  {% if post.url != page.url %}


      <article class="horizontal-article">
        <div class="horizontal-article__wrapper" tab-index="0">
          <section class="horizontal-article__content">
            <img class="horizontal-article__content-cover" src="/assets/images/article-images/small/{{ post.featured_image }}" alt="">
            <div class="horizontal-article__content-wrapper">
              <p class="horizontal-article__content-category">{{ post.category }}</p>
              <h2 class="horizontal-article__content-title">{{ post.title }}</h2>
            </div>
          </section>
        </div>
      </article>

  {% endif %}
  {% endif %}
  {% endfor %}

    </article-->

<div id="disqus_thread"></div>
<script>

/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://theessentialistdev.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</main>
